* {
  margin: 0px;
  padding: 0px;
}
.log_body {
  background-image: url("../login.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  opacity: 0.8;
}
.log {
  text-align: center;
  color: rgb(248, 200, 70);
  top: 18%;
  left: 63%;
  position: absolute;
  font-size: 40px;
  animation: logs 2s;
}
.login1 {
  top: 50%;
  left: 70%;
  border-style: solid;
  padding: 60px;
  width: 550px;
  position: absolute;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  line-height: 45px;
  animation: login_1 2s;
}
.login-label {
  font-size: 24px;
  color: rgb(0, 0, 0);
}
.login-input {
  height: 23px;
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
  background: transparent;
  border: none;
  border-bottom: 3px solid rgb(119, 119, 119);
}
.login-btn {
  font-size: 17px;
  width: 7rem;
  border-radius: 5px;
  margin-top: 15px;
  height: 37px;
  background-color: rgb(250, 205, 83);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.login-btn:hover {
  transition: all 0.2s ease;
  cursor: pointer;
}
.login-btn:active {
  transform: scale(0.9);
  background-color: rgb(255, 213, 0);
}
.back {
  font-size: 17px;
  width: 6rem;
  height: 37px;
  background-color: black;
  color: rgb(204, 210, 214);
  border-radius: 7px;
  margin-left: 338px;
}
.back:hover {
  transition: all 0.1s ease;
  cursor: pointer;
}
.back:active {
  transform: scale(0.9);
}
.back_text {
  color: #fff;
  text-decoration: none;
}
@keyframes logs {
  0% {
    opacity: 0.2;
    top: 5%;
  }
  100% {
    opacity: 1;
    top: 18%;
  }
}
@keyframes login_1 {
  0% {
    opacity: 0.2;
    top: 5%;
  }
  100% {
    opacity: 1;
    top: 50%;
    transition: 250ms;
  }
}
